apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - eventstreams-persistent.yaml
  - kafka-connect.yaml
  - mq-source-connector.yaml
  - sample-orders-topic.yaml
  - sample-sink-topic.yaml
