apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:

  - operators/operator-project.yaml
  - operands/operand-project.yaml
  - cp4i-argo-role.yaml
  - cp4i-argo-rb.yaml

  - common.yaml

  - operators/all-operators.yaml
  
  - operands/all-operands.yaml
 
  #- apps/ibm-offices.yaml
  #- apps/ace-hello-world.yaml

  #- apis-and-products.yaml

patches:
- target:
    group: argoproj.io
    kind: Application
    labelSelector: group=applications
  patch: |-
    - op: add
      path: /spec/source/repoURL
      value: https://github.com/Nordic-MVP-GitOps-Repos/hypersonic-lightweight-cp4i.git
    - op: add
      path: /spec/source/targetRevision
      value: cp4i2023.4.1
- target:
    group: argoproj.io
    kind: ApplicationSet
  patch: |-
    - op: add
      path: /spec/template/spec/source/repoURL
      value: https://github.com/Nordic-MVP-GitOps-Repos/hypersonic-lightweight-cp4i.git
    - op: add
      path: /spec/template/spec/source/targetRevision
      value: cp4i2023.4.1
