apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: copy-default-ingress-cert-role
rules:
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - watch
      - list
      - create
      - patch
  - apiGroups:
      - operator.openshift.io
    resources:
      - ingresscontrollers
    verbs:
      - get
      - watch
      - list
