openapi: 3.0.1
tags:
  - name: REST
  - name: Enforced
info:
  title: Dog Facts API V2
  version: 1.0.0
  x-ibm-summary: |-
    The Dog API provides a wealth of information on dog breeds, groups, and fun
    facts. Access and integrate this data into your website or application with
    our easy-to-use JSON API.
  description: >-
    The Dog API provides a wealth of information on dog breeds, groups, and fun
    facts. Access and integrate this data into your website or application with
    our easy-to-use JSON API.
  termsOfService: https://dogapi.dog/terms
  contact:
    email: dev@dogapi.dog
  license:
    name: MIT
    url: https://github.com/kinduff/dogapi.dog/blob/master/LICENSE
  x-ibm-name: dog-facts-api-v2
servers:
  - url: https://dogapi.dog/api/v2
paths:
  /breeds:
    get:
      summary: list breeds
      tags:
        - Breeds
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      - id: f9643a80-af1d-422a-9f15-18d466822053
                        type: breed
                        attributes:
                          name: Caucasian Shepherd Dog
                          description: >-
                            The Caucasian Shepherd dog is a serious guardian
                            breed and should never be taken lightly. 
                          hypoallergenic: false
                      - id: dc5e84f8-9151-4624-836c-25b4e313118b
                        type: breed
                        attributes:
                          name: Bouvier des Flandres
                          description: They don't build 'em like this anymore.
                          hypoallergenic: false
                    links:
                      self: https://dogapi.dog/api/v2/breeds
                      current: https://dogapi.dog/api/v2/breeds?page[number]=1
                      next: https://dogapi.dog/api/v2/breeds?page[number]=2
                      last: https://dogapi.dog/api/v2/breeds?page[number]=2
  /breeds/{id}:
    get:
      summary: get breed
      tags:
        - Breeds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      id: f9643a80-af1d-422a-9f15-18d466822053
                      type: breed
                      attributes:
                        name: Caucasian Shepherd Dog
                        min_life: 15
                        max_life: 20
                        description: >-
                          The Caucasian Shepherd dog is a serious guardian breed
                          and should never be taken lightly.
                        hypoallergenic: false
                    links:
                      self: >-
                        https://dogapi.dog/api/v2/breeds/f9643a80-af1d-422a-9f15-18d466822053
  /facts:
    get:
      summary: list facts
      tags:
        - Facts
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      - id: 1cd1a16d-6fe1-40ea-9dd2-c21dd0f7c24e
                        type: fact
                        attributes:
                          body: >-
                            Many foot disorders in dogs are caused by long
                            toenails.
  /groups:
    get:
      summary: list groups
      tags:
        - Groups
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      - id: 02124eb6-1baa-410c-90ea-6b8629fb0837
                        type: group
                        attributes:
                          name: Foundation Stock Service
                        relationships:
                          breeds:
                            data:
                              - id: b0b6810c-fb88-4987-ad0a-ae0440b04634
                                type: breed
                              - id: 38e06144-2ac3-43c0-981c-f8598eabc902
                                type: breed
                      - id: 256db247-70ce-4f08-b6a6-60b27ce369d1
                        type: group
                        attributes:
                          name: Herding Group
                        relationships:
                          breeds:
                            data:
                              - id: 85d5a702-057f-42e3-a24c-b56e0aa94bf9
                                type: breed
                              - id: eef99f80-266a-4659-a1e7-3af639010984
                                type: breed
                    links:
                      self: https://dogapi.dog/api/v2/groups
                      current: https://dogapi.dog/api/v2/groups?page[number]=1
                      next: https://dogapi.dog/api/v2/groups?page[number]=2
                      last: https://dogapi.dog/api/v2/groups?page[number]=2
  /groups/{id}:
    get:
      summary: get group
      tags:
        - Groups
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      id: 02124eb6-1baa-410c-90ea-6b8629fb0837
                      type: group
                      attributes:
                        name: Foundation Stock Service
                      relationships:
                        breeds:
                          data:
                            - id: b0b6810c-fb88-4987-ad0a-ae0440b04634
                              type: breed
                            - id: 4bc90a09-5406-4739-96c6-ac2161fbfa4e
                              type: breed
                    links:
                      self: >-
                        https://dogapi.dog/api/v2/groups/02124eb6-1baa-410c-90ea-6b8629fb0837
x-ibm-configuration:
  cors:
    enabled: true
  properties:
    target-url:
      description: The URL of the target service
      encoded: false
      value: https://dogapi.dog/api/v2
  phase: realized
  enforced: true
  gateway: datapower-api-gateway
  assembly:
    execute:
      - operation-switch:
          version: 2.0.0
          title: operation-switch
          case:
            - operations:
                - verb: get
                  path: /breeds
              execute:
                - invoke:
                    title: invoke
                    version: 2.0.0
                    verb: keep
                    target-url: $(target-url)/breeds
                    follow-redirects: false
                    timeout: 60
                    parameter-control:
                      type: allowlist
                      values: []
                    header-control:
                      type: blocklist
                      values: []
                    inject-proxy-headers: true
                    persistent-connection: true
            - operations:
                - verb: get
                  path: /facts
              execute:
                - invoke:
                    version: 2.2.0
                    title: invoke
                    backend-type: detect
                    header-control:
                      type: blocklist
                      values: []
                    parameter-control:
                      type: allowlist
                      values: []
                    http-version: HTTP/1.1
                    timeout: 60
                    verb: keep
                    chunked-uploads: true
                    persistent-connection: true
                    cache-response: protocol
                    cache-ttl: 900
                    stop-on-error: []
                    graphql-send-type: detect
                    websocket-upgrade: false
                    target-url: $(target-url)/facts
          otherwise: []
    finally: []
  type: rest
  testable: true
  activity-log:
    enabled: true
    success-content: activity
    error-content: payload
